<div class="row py-1">
  <div class="col-12">
    <h5 class="card-title">Season</h5>
    <nav class="nav">
        <a class="nav-link" [routerLink]="['']" [queryParams]="{ 'season': 'all'}">All</a>
        <a class="nav-link" [routerLink]="['']" [queryParams]="{ 'season': 'summer'}">Summer</a>
        <a class="nav-link" [routerLink]="['']" [queryParams]="{ 'season': 'winter'}">Winter</a>
        <a class="nav-link" [routerLink]="['']" [queryParams]="{ 'season': 'autumn'}">Autumn</a>
        <a class="nav-link" [routerLink]="['']" [queryParams]="{ 'season': 'spring'}">Spring</a>
    </nav>
  </div>
</div>
