<div class="row py-1">
  <nav class="col-12" aria-label="page navigation">
    <ul class="pagination">
      <li class="page-item" *ngIf="currentPage > 1" (click)="paginateClicked(-1)">
        <div class="page-link">Previous</div>
      </li>
      <li *ngFor="let page of pages" class="page-item" [ngClass]="{'active': page === currentPage}" (click)="paginateClicked(page)">
        <div class="page-link">{{ page }}</div>
      </li>
      <li class="page-item" *ngIf="currentPage < pages.length" (click)="paginateClicked(-2)">
        <div class="page-link">Next</div>
      </li>
    </ul>
  </nav>
</div>
