<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="search input-group col-12">
          <input type="text" class="form-control" placeholder="search">
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-4">
              <div class="card">
                <img src="assets/images/pictures/sands-of-life.jpg" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Interesting article title</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu lacus mattis laoreet diam a volutpat magna.</p>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card">
                <img src="assets/images/pictures/sands-of-life.jpg" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Interesting article title</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu lacus mattis laoreet diam a volutpat magna.</p>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card">
                  <img src="assets/images/pictures/sands-of-life.jpg" class="card-img-top">
                  <div class="card-body">
                  <h5 class="card-title">Interesting article title</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu lacus mattis laoreet diam a volutpat magna.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
